In [1]:
import numpy as np
import pandas as pd
n_predictions = 10

In [5]:
prediction_1 = pd.read_csv('submissions/rawpredictions_xgb0.csv')

In [6]:
prediction_2 = pd.read_csv('submissions/rawpredictions_xgb1.csv')

In [7]:
prediction_3 = pd.read_csv('submissions/rawpredictions_xgb2.csv')

In [8]:
prediction_4 = pd.read_csv('submissions/rawpredictions_xgb3.csv')

In [9]:
prediction_5 = pd.read_csv('submissions/rawpredictions_xgb4.csv')
prediction_6 = pd.read_csv('submissions/rawpredictions_xgb5.csv')
prediction_7 = pd.read_csv('submissions/rawpredictions_xgb6.csv')
prediction_8 = pd.read_csv('submissions/rawpredictions_xgb7.csv')
prediction_9 = pd.read_csv('submissions/rawpredictions_xgb8.csv')
prediction_10 = pd.read_csv('submissions/rawpredictions_xgb9.csv')

In [10]:
prediction_1.tail()

       order_id products
74995   3418773     None
74996   3419522     None
74997   3419726     None
74998   3420449     None
74999   3420569     None

In [11]:
predictions = (prediction_1.merge(prediction_2, on='order_id')
               .merge(prediction_3, on='order_id')
               .merge(prediction_4, on='order_id')
               .merge(prediction_5, on='order_id')
               .merge(prediction_6, on='order_id')
               .merge(prediction_7, on='order_id')
               .merge(prediction_8, on='order_id')
               .merge(prediction_9, on='order_id')
               .merge(prediction_10, on='order_id'))

In [12]:
predictions.head()

,order_id,products_x,products_y,products_x,products_y,products_x,products_y,products_x,products_y,products_x,products_y
0,17,38777 21463 13107 None,38777 21463 13107,38777 21463 13107,38777 21463 13107,47766 38777 21463 13107,47766 38777 21463 13107 None,47766 21463 13107,38777 21463 13107,21463 13107,38777 21463 13107
1,34,13176 48523 21137 47766 39475 47792 44663 4350...,13176 48523 21137 47766 39475 47792 43504 1861...,13176 48523 21137 47766 39475 47792 44663 3918...,13176 48523 21137 47766 39475 47792 43504 1861...,13176 48523 21137 47766 39475 47792 44663 4350...,13176 48523 21137 47766 39475 47792 44663 4350...,13176 48523 21137 47766 39475 47792 39180 4350...,13176 48523 21137 47766 44632 39475 47792 3918...,13176 48523 21137 47766 44632 39475 47792 4466...,13176 21137 47766 39475 47792 39180 43504 1608...
2,137,41787 24852 25890 38689 2326 5134 23794,41787 24852 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 38689 2326 5134 23794
3,182,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...
4,257,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 39475 4605...

In [13]:
predictions.columns = ['order_id'] + ['products_' + str(i) for i in range(n_predictions)]

In [14]:
predictions.head()

,order_id,products_0,products_1,products_2,products_3,products_4,products_5,products_6,products_7,products_8,products_9
0,17,38777 21463 13107 None,38777 21463 13107,38777 21463 13107,38777 21463 13107,47766 38777 21463 13107,47766 38777 21463 13107 None,47766 21463 13107,38777 21463 13107,21463 13107,38777 21463 13107
1,34,13176 48523 21137 47766 39475 47792 44663 4350...,13176 48523 21137 47766 39475 47792 43504 1861...,13176 48523 21137 47766 39475 47792 44663 3918...,13176 48523 21137 47766 39475 47792 43504 1861...,13176 48523 21137 47766 39475 47792 44663 4350...,13176 48523 21137 47766 39475 47792 44663 4350...,13176 48523 21137 47766 39475 47792 39180 4350...,13176 48523 21137 47766 44632 39475 47792 3918...,13176 48523 21137 47766 44632 39475 47792 4466...,13176 21137 47766 39475 47792 39180 43504 1608...
2,137,41787 24852 25890 38689 2326 5134 23794,41787 24852 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 25890 38689 2326 5134 23794,41787 24852 38689 2326 5134 23794
3,182,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...,39275 47209 47672 33000 32109 11520 9337 15252...
4,257,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 13870 3947...,49235 37646 24852 24838 21137 27966 39475 4605...

In [15]:
import operator

def similarity(list1, list2):
    intersection = len([x for x in list1 if x in list2])
    union = len(list1) + len(list2) - intersection
    return intersection/union

def choose_column(s, columns=10):
    product_list = []
    sum_similarity = []
    for i in range(columns):
        product_list.append(s['products_' + str(i)].split())
        sum_similarity.append(0)
    for i in range(columns-1):
        for j in range(i+1, columns):
            sim_score = similarity(product_list[i], product_list[j])
            sum_similarity[i] = sum_similarity[i] + sim_score
            sum_similarity[j] = sum_similarity[j] + sim_score
    best_idx = np.argmax(sum_similarity)
    return pd.Series({'order_id': s.order_id,
                     'products': s['products_' + str(best_idx)],
                     'idx': best_idx})

def create_mixed_list(s, columns=10):
    product_counts = {}
    list_lens = []
    for i in range(columns):
        column_products = s['products_' + str(i)].split()
        list_lens.append(len(column_products))
        for prod in column_products:
            if prod in product_counts.keys():
                product_counts[prod] = product_counts[prod] + 1
            else:
                product_counts[prod] = 1
    avg_len = int(np.median(list_lens))
    sorted_products = sorted(product_counts.items(), key=operator.itemgetter(1), reverse=True)
    chosen_products = []
    for i in range(avg_len):
        chosen_products.append(sorted_products[i][0])
    return pd.Series({'order_id': s.order_id,
                     'products': " ".join(chosen_products)})

In [16]:
chosen = predictions.apply(choose_column, axis=1)

In [17]:
#chosen = predictions.apply(create_mixed_list, axis=1)

In [18]:
(chosen.idx == 0).mean()

0.49049333333333334

In [19]:
chosen[['order_id', 'products']].to_csv("submissions/composite.csv", index=False)

In [20]:
chosen.head()

   idx  order_id                                           products
0    1        17                                 38777 21463 13107
1    2        34  13176 48523 21137 47766 39475 47792 44663 3918...
2    0       137           41787 24852 25890 38689 2326 5134 23794
3    0       182  39275 47209 47672 33000 32109 11520 9337 15252...
4    7       257  49235 37646 24852 24838 21137 27966 13870 3947...

In [34]:
chosen.shape

(75000, 3)